
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
build/
profiles/
.vs/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/